[2020-11-06 14:15] planetf1 opened #1 "Initial code migration from egeria repo"
Migrating initial code from the main egeria repo

[2020-11-06 15:20] planetf1 commented on #1
Have done the following
 * Migrated initial postgres connector from open-metadata-implementation/adapters/open-connectors/data-store-connectors/postgres-connector of https://github.com/wbittles/egeria (postgres-connector branch)
 * Added gradle build script (`./gradlew build` from top level - - java 11. Output in postgres-connector/build/ including 'postgres-connector-2.5-SNAPSHOT-javadoc.jar post

[2020-11-06 15:20] #1 closed

[2020-11-06 15:37] planetf1 opened #5 "Add test environment for connector"
We need to test the postgres (and other) connectors against an egeria server. and using the integration server

Current offline testing uses:
1 zookeeper
2 kafka
3 postgres
4 integration daemon platform
5 metadata server platform

Ideally we would initiate this from github actions (PR or merge or .. later.. release). An external k8s cluster would need
funding, maint so I propose to initially look

[2020-11-06 15:52] planetf1 commented on #5
- [ ] Add simple k8s action to prove we can create a k8s cluster
 - [ ] create simple deployment of a container
 - [ ] work on helm chart or k8s scripts for postgres connector testing
 - [ ] add chart/scripts to github action

Will consider how to run specific tests later

[2020-11-06 16:51] planetf1 commented on #5
The related PR wll now deploy a test helm chart to a kind cluster.
It does not yet wait for the pods to be ready, nor kick off any configuration of egeria servers
Orchestrating this is the next step, be it via jobs, helm tests, or other.

[2020-11-06 16:51] planetf1 commented on #5
See example test run so far at https://github.com/odpi/egeria-database-connectors/runs/1364709078?check_suite_focus=true

[2020-11-09 16:08] planetf1 commented on #5
After verbal review the next steps are:
 - [ ] Ensure helm chart/script waits until all containers are running
 - [ ] Add built connector onto the integration platform - depends on https://github.com/odpi/egeria/issues/4001
 - [ ] ? preload postgres database with data (example) ?
 - [ ] ? configure 1 server on each platform (example) ?
 - [ ] ? look at options for orchestrating test cases (initial

[2020-11-10 08:19] planetf1 commented on #5
Added '--wait' to the helm chart install, so the script now pauses until all the pods are marked healthy (currently this is when their main ports are active -- we are not checking for servers being active, as we don't configure any yet).

[2020-11-17 11:46] planetf1 opened #9 "Kind github action fails"
[code]
Try latest version by changing version spec to @0 (0.5.0 is latest)

[2020-11-17 16:35] planetf1 commented on #9
fixed

[2020-11-17 16:35] #9 closed

[2021-01-07 18:25] planetf1 opened #12 "Build connector jar without egeria 'platform' dependencies"
When the postgres connector is built we are creating an uber jar (jar with dependencies).
This pulls in all dependencies in 'implementation' scope, which includes the key egeria artifacts needed

However when this is loaded at runtime into the egeria server chassis, a few of those may be duplicates of classes already found in the chassis. If versions differ this could lead to initialization or cla

[2021-01-07 18:52] davidradl commented on #12
I agree - this looks like a good change. where to we get the version we compile against? Is this master or the last released version. What can we do to try to avoid compiling against one version and the runtime has an incompatible version of the dependancy.

[2021-01-08 09:18] planetf1 commented on #12
@davidradl Currently the connector (as in 'main') is building against 2.6-SNAPSHOT, and has an additional (to Maven Central/JCenter) repository defined for our artifactory server where all merge builds are stored. So basically it's always building against the latest 2.6

The rationale for this is that we are currently very much still in development, as the Integration patterns evolve.

Once that c

[2021-01-13 09:55] planetf1 opened #14 "Update build to get latest snapshots"
Currently the postgres connector is using the 2.6-SNAPSHOT version of egeria from the odpi artifactory repository. These snapshots are built automatically when merges hit master. (the egeria docker image, which we would use in integration testing is built from the same github action)

By default maven will only refresh any snapshots it's using when either a) 24 hours has passed [configurable] b) t

[2021-02-08 09:34] planetf1 commented on #5
Reopening as it is still relevant to do this once we have a working version of the connector

[2021-02-24 17:54] planetf1 opened #16 "Publish connector maven artifacts to maven central (Release & Merge)"
In https://github.com/odpi/egeria/issues/4664 the main egeria code switched to publishing maven artifacts for a release via github actions direct to maven central. Additionally snapshots are also published to maven central

Github actions need to be put in place for this repo once the connector is updated & in a representative state
cc: @wbittles

[2021-03-02 12:01] planetf1 commented on #5
this is still needed - in fact the pipeline is in place
Just need to actually invoke the required tests

[2021-03-05 08:34] planetf1 commented on #16
This can likely follow the same approach as adopted for base egeria (above) which has now been proven for the 2.7 release.
However here we are using gradle vs maven so will need to implement using the appropriate gradle plugins - an ideal way to identify the details prior to switching egeria fully to gradle in future.

The end result would be connectors available on maven central  - snapshot or re

[2021-03-05 08:37] planetf1 commented on #12
The current connector build no longer includes unnecessary dependencies, so closing the issue here
Further work will be done in base egeria on the included connectors to adopt a more streamlined approach

[2021-03-05 08:37] #12 closed

[2021-03-05 08:41] planetf1 commented on #14
Update
 The postgres connector is referring to the jfrog repository in build.gradle. this is no longer being updated, so should be removed. all versions (snapshot or not) should be obtained from maven central

 @wbittles Also I notice the build is referring to 2.5-SNAPSHOT. This needs updating to either 2.8-SNAPSHOT or 2.7 (ie release) depending on how stable you reckon the base is. I'd go with th

[2021-03-05 08:45] planetf1 opened #17 "Add dependabot configuration"
As per https://docs.github.com/en/github/administering-a-repository/configuration-options-for-dependency-updates we should create a dependabot.yml

Egeria has one in .github/dependabot.yml and I suspect just the following will work:
[code]
We only do monthly for egeria, which is forced to 1st of the month. This cannot be changed. perhaps with less dependencies we go for a more regular or daily che

[2021-03-05 08:45] planetf1 commented on #5
With the latest code in place, we should have the basics to start moving forward with something like this

[2021-03-08 09:58] planetf1 commented on #17
completed

[2021-03-08 09:58] #17 closed

[2021-03-08 10:03] planetf1 commented on #14
Note that dependabot is now active and is recommending updates.
@wbittles You could merge these (or update manually and they will auto close) - probably appropriate now , or decide it's more appropriate to stick with 2.8-SNAPSHOT.

[2021-03-08 15:19] planetf1 commented on #16
My proposal is to:
 * get the connector up to date - see #14 and https://github.com/odpi/egeria-database-connectors/pulls
 * modify the gradle build to create a single artifact org.odpi.egeria:postgres-connector (though I expect the name will be the toughest one to get agreement too - perhaps worth bringing up on the status call tomorrow). I'd personally err on a simple, obvious name, any ideas?

[2021-03-08 15:19] planetf1 commented on #16
^ @wbittles

[2021-03-08 17:15] planetf1 commented on #16
As per discussion - feel free to assign back if you need a hand or would like me to do this

[2021-03-08 17:16] planetf1 commented on #5
as per discussion - feel free to assign back if you need a hand with the test infra.

[2021-04-07 17:44] #14 closed

[2021-04-25 10:12] wbittles commented on #5
It's still not clear how anyone would run the CTS in this KIND environment  , can you please provide the details on how to achieve this

[2021-04-26 08:19] planetf1 commented on #5
The idea of the kind environment was to setup the base infrastructure to run tests against, not in itself to run a test harness.

Currently we have FVTs run within the build that are relatively simple - they
 * launch a platform
 * wait until it's ready
 * Run a groovy script to configure the platform via REST calls
 * Run required java tests using the maven failsafe plugin (on maven - we do simil

[2021-05-19 17:05] planetf1 commented on #16
The sas viya connector is now publishing artifacts to maven central. See
 -  https://github.com/odpi/egeria-connector-sas-viya/blob/main/.github/workflows/merge.yml
 - https://github.com/odpi/egeria-connector-sas-viya/blob/main/.github/workflows/release.yml

 We probably don't need a custom docker image, but if so that repo also has a custom Dockerfile

 Credentials need adding to this repo for pu

[2021-05-19 17:08] planetf1 opened #47 "'java-library' plugin incorrectly applied to top level project"
This plugin was applied to the top level project, where the intent was to apply to all subprojects (for now, there is only one)
The effect was minor, but led to a rogue/confusing empty jar under build/libs

[2021-05-19 17:09] planetf1 commented on #47
In future as new modules added can decide if it better belongs in leaf projects or top level.

[2021-05-24 17:09] #47 closed

[2021-05-26 16:23] planetf1 opened #51 "Fix minor review comments + address gradle version regression"
See outstanding comments in https://github.com/odpi/egeria-database-connectors/pull/46#pullrequestreview-669238367

A minor typo in naming I think we can correct
A minor issue with capitalization
A regression in handling of dependency versions

[2021-05-26 17:02] #51 closed

[2021-05-27 07:25] planetf1 opened #58 "Add documentation on use of Postgres connector"
We need to add docs on using the postgres connector

 - Pointer to (updating if necessary) general docs on making use of additional connectors in egeria (not connector specific)
  : run locally
  : using our docker image
  : using helm charts

 - Postgres specific information
  : supported/tested versions
  : capabilities
  : mapping between postgres metadata & egeria metadata
  : configuration

[2021-05-27 07:25] planetf1 commented on #5
Can consider this alongside/once #58

[2021-05-27 13:58] planetf1 commented on #16
Builds are consistently failing with:
[code]

- Happened consistently with multiple PRs
 - not addressed by flipping java version (in case of env. differences)
 - consistent build locally
 - even the *merge* build, that ran before, now fails when run manually, yet no code has changed in main

[2021-05-27 14:51] planetf1 opened #65 "Postgres connector build failure"
[code]

This error has caused issues with attempting to make fixes under #16, where local builds were working, but all PRs were failing. The inconsistency was caused by https://github.com/odpi/egeria-database-connectors/pull/64 due to picking up local ~/.m2 content. We should be referring to authoritative content - and if the builder wishes to override they can do so via gradle directly.

ie the P

[2021-05-27 14:56] planetf1 opened #66 "Release 2.10"
* branch connector for release 10
* move to 2.11-SNAPSHOT
* validate release pipeline
* publish to maven central
* create github release
* point to egeria 2.10 (release) for dependencies

[2021-05-27 15:01] planetf1 commented on #65
https://github.com/odpi/egeria-database-connectors/pull/67 is open as an example (and to prove build failure cause), which
will no longer call setOwner on DatabaseSchemaProperties.

All properties are already added to extendedProperties via setAdditionalProperties in any case

Is this sufficient for now?

[2021-05-27 15:28] planetf1 commented on #65
Last change in this area was 630d400f95c3af414b0dd5a6c647a525f50e0102 ?

[2021-05-27 17:59] planetf1 commented on #65
confirmed as expected behaviour - fields were deliberately removed as they could not be filled in properly.

[2021-05-27 17:59] #65 closed

[2021-06-05 07:54] wbittles opened #70 "fix the misleading quality gates linked from the readme"
we need to fix the cut and paste error at the top of the readme.

Egeria Logo
GitHub CII Best Practices Azure Quality Gate Status Maven Central

however not until we understand the the differences between the scans.

[2021-06-07 14:36] planetf1 commented on #70
I've added a PR to improve -
* The azure link is not relevant for the connector (in fact not really for the base either - where it has already been removed)
* The quality gate is always showing red as we've not set appropriate rules/strategy for the sonar reports - it is removed in the base so done the same here

I've left the maven link as is, but note it points to a group, not artifact. this is

[2021-06-07 14:38] planetf1 commented on #66
Note - I did not release version 2.11 since a) we don't have any consuming demo yet or b) No instructions on usage.
We can add a release as/if needed but at a minimum should address #58 first

[2021-06-07 14:39] planetf1 commented on #16
This should be done, so closing. WIll validate release pipeline when we are ready to release.

[2021-06-07 14:39] #16 closed

[2021-06-09 07:50] planetf1 commented on #70
Still a rogue ) in the readme!

[2021-06-09 07:54] #70 closed

[2021-06-15 12:27] planetf1 opened #74 "Build docker image for connector"
Libraries cannot easily be injected into a k8s egeria deployment without making use of custom images

See https://github.com/odpi/egeria/issues/5368

As with the sas-viya-connector at https://github.com/odpi/egeria-connector-sas-viya/blob/main/Dockerfile I propose to create a custom docker container (until a better proposal is understood) to facilitate demos etc that make use of the postgres conne

[2021-06-15 17:32] planetf1 commented on #74
Docker image now being built as part of the 'merge' process
See https://hub.docker.com/repository/docker/odpi/egeria-database-connectors for the connector

[2021-06-16 16:42] planetf1 commented on #74
Noticed that the lib is in the wrong place ie it's found in:
[code]
but the main jar (only) needs to be directly in lib.

[2021-06-18 10:16] planetf1 opened #78 "Enhancement: Support selection of schemas to sync/import, exclude system"
Currently the Postgres connector will import all metadata from all databases & all schema, including system tables.

I think it would be useful to

a) Eliminate system objects

There are many tables & other database elements that postgres uses 'internally'. Some tools such as the database plugin in IntelliJ allow the user to select 'Load sources for: All excl. system schemas'. This is the default,

[2021-06-18 10:19] planetf1 commented on #78
Related - for supporting metadata exchange with *multiple* postgres endpoints (ie the opposite to filtering!) this can already by done (in theory) since integrationConnectorConfigs is a list of configs, and we should be able to have one per endpoint on the same integration server & using the same OMAS

[2021-06-18 10:36] planetf1 opened #79 "Provide documentation on mapping between postgres objects and Egeria objects & possible errors?"
I imported a 'flight booking' database from https://postgrespro.com/education/demodb (medium)
This has a table called 'bookings'. If I inspect this with Egeria 'REX' I get:
[code]

Whilst some attributes are more obvious than others, anyone using this connector (and Egeria) really needs to understand not just what they mean from an Egeria perspective, but also the translation from postgres.

(As t

[2021-06-18 10:44] planetf1 commented on #79
Some questions also arise
 * There is no 'boarding_passes' column defined in the postgres database, but there is a TABLE of that name
 * What are 'character_maximum_length :4 & character_octet_length :16' and where do they come from? Is this unicode related?
 * This column (seat_no) is VARCHAR(4) so I understand the datatype of 'character varying'. I see dtd_identifier is '4' - is this meant to re

[2021-06-18 10:50] planetf1 commented on #79
If I follow the link (in REX) to the table, this is also called 'boarding_passes' (but in this case it's correct).
 * Why is the table's qualified name of the form `qualifiedName :postgres.bookings.BASE.boarding_passes` - what does BASE signify? And if this is a convention is there a reason we don't do similar for columns? (`qualifiedName :postgres::bookings::boarding_passes::seat_no
`

[2021-06-18 11:05] planetf1 commented on #79
There is some variance in naming of entities.
For example whilst tables (and in theory columns) use a simple name, DeployedDatabaseSchema uses a qualified name like `postgres::postgres::bookings` as does RelationalDBSchemaType

Some of this may relate to the Data Manager OMAS vs the connector?

[2021-06-18 11:12] planetf1 commented on #79
I notice the qualifiedName of the 'Database' Entity is simpl postgres - dup issue?
[code]

[2021-06-21 17:30] planetf1 commented on #58
This is being worked on in https://github.com/odpi/egeria-database-connectors/pull/73

[2021-06-21 17:30] planetf1 commented on #74
this is complete

[2021-06-21 17:30] #74 closed

[2021-06-21 17:33] planetf1 opened #81 "Example helm chart for postgres"
Provide an example helm chart that
 - uses the 'egeria-base' chart as a starting point
 - adds postgres image
 - adds appropriate configuration for postgres

 Depends on:
   https://github.com/odpi/egeria/issues/5379
   https://github.com/odpi/egeria/issues/1514

  Planning to move this to new 'egeria-charts' repo once available.

[2021-06-23 11:20] planetf1 opened #82 "Allow manual merge build to republish docker image"
As a mitigation to https://github.com/odpi/egeria/issues/5368 we need to ensure the manually initiated merge build also republishes docker images (and other artifacts)

[2021-06-23 13:20] planetf1 commented on #79
Column name is fixed by #84
Will re-review other mappings

[2021-06-23 13:23] planetf1 commented on #82
Confirmed fixed as per https://github.com/odpi/egeria-database-connectors/runs/2895335376?check_suite_focus=true

[2021-06-23 13:23] #82 closed

[2021-06-23 16:53] planetf1 commented on #79
- As per https://egeria.odpi.org/open-metadata-implementation/access-services/data-manager/docs/relational-database-open-metadata-types.png#pagewidth should we create a 'Software Server' for the postgres database, or is this done elsewhere?
 - Documentation is needed to understand the mapping
 - A few minor questions about whether the qualified names used are correct and could be made more consist

[2021-06-24 10:22] wbittles commented on #79
@planetf1  There hasn't been a mapping yet, those are information schema name value pairs.

[2021-06-24 11:20] mandy-chessell commented on #79
The SoftwareServer is created through the IT Infrastructure OMAS (when written).  This is if IT Infrastructure cataloguing is required.  In this case, the SoftwareServerCapability (DatabaseManager) is typically also created through IT Infrastructure OMAS and linked to the software server.

The Database Integrator OMIS will automatically create the DatabaseManager SoftwareServerCapability if not al

[2021-06-25 09:23] wbittles commented on #78
All that would happen is that the application developer would filter out the it departments meta-data.
What if we just let the people who aren't interested in the data filter it out by not reading it , rather than Egeria not actually capturing it, this would also spare us from the whole philosophical "what is real" decision.

[2021-06-25 09:46] wbittles commented on #79
this is a question on the initial post

Egeria thinks that you have
created a schema called bookings in the default postgres database.
In that schema was a table is called boarding_passes, with a column called seat_no

and it's this column that your actually looking at in REX , so we need to work out where it's going wrong, I assume your using the public schema ?

[2021-06-25 09:58] mandy-chessell commented on #78
I agree with Billy - the filtering should be done on the consuming side - not the capuring side.

Today there are the governance zones to provide some level of scoping and filtering.  Each OMAS deployment sets up the default zones of the metadata captured.  This is the value of the zones assigned to an asset when it is created.  The integration connector is responsible for calling publishXXX to mo

[2021-06-25 10:09] wbittles commented on #79
https://github.com/odpi/egeria-database-connectors/issues/79#issuecomment-863961126

This is a symptom of the lack of mapping, it's a postgres database , imported from a postgres database, which is called postgres.
This will be cleared up when  mapping is resolved.

[2021-06-25 10:12] wbittles commented on #79
https://github.com/odpi/egeria-database-connectors/issues/79#issuecomment-863949025
It was added to help debug an problem when querying for tables and views.

[2021-06-30 16:18] planetf1 opened #85 "Release 2.11"
Release 2.11 connector

[2021-07-02 11:07] planetf1 commented on #85
Postgres connector failing with
<img width="401" alt="Screenshot 2021-07-02 at 11 53 28" src="https://user-images.githubusercontent.com/7292002/124265721-068fd480-db2e-11eb-858e-2970cd7c107c.png">

Requires some rework on the release pipeline

[2021-07-02 11:09] planetf1 commented on #85
These errors are:

[code]
and
[code]

[2021-07-02 15:42] planetf1 commented on #78
ok. closing

[2021-07-02 15:42] #78 closed

[2021-07-02 15:47] planetf1 commented on #79
I don't think there's anything wrong now -- the initial issue was with the names of columns being incorrect - but this is now fixed in the connector. The rest looked good in REX.  Also agree with the point about software server.

The two outstanding points I see are
 a) The qualified names assigned for (for example) Database is a short name ie 'postgres'. This seems very short -- in most places th

[2021-07-06 08:52] planetf1 commented on #85
A number of changes have been made & tested in the pom to publish to gradle. This has also been setup in a multi-module fashion to make it easier to add new modules in future. This also has established a workable pattern we can use for egeria & other connectors.

Will port forward from 2.11 to master

[2021-07-06 09:09] planetf1 commented on #85
Changes are now ported to main, releases has been made.

[2021-07-06 09:09] #85 closed

[2021-08-10 19:34] mandy-chessell opened #106 "Corrections to instructions in top-level README"
I tried to set up the postgres connector and noticed the following in the top level readme ...

* The connector is an "Integration connector" rather than a "integration daemon connector".
* There are no instructions on how to build the connector or where the resulting JAR is located
* Where is the postman collection referred to?
* "Egeria platform" should be "OMAG Server Platform" or "Egeria's OMA

[2021-09-01 15:32] planetf1 commented on #66
this has already shipped. closing

[2021-09-01 15:32] #66 closed

[2021-10-01 08:33] planetf1 opened #112 "Release 3.2"
Link to work required to move from 3.2, release & update main to 3.3

[2021-10-06 09:00] #112 closed

[2021-11-03 17:25] wbittles opened #128 "Repository Refactor"
This repository structure needs to be refactored before any more connectors can be added.
This issue is needs to be resolved before any more updates will be made.

[2021-11-29 08:47] planetf1 opened #130 "Update docker build to support arm64 (apple mac m1 & raspberry pi 64bit)"
Add additional platform spec to support m1/pi

See https://github.com/odpi/egeria-ui/pull/275 for an example

[2021-12-02 00:20] planetf1 opened #139 "Correct docker tag for container images"
All docker images published so far have been tagged as 2.11-snapshot as this value is encoded in the .github/workflows/merge.yml github action.

This version should be updated for each release (not done in error), but to avoid future problems it would make
sense to extract the tag to be used from the version within build.gradle automatically.

[2021-12-02 00:35] planetf1 commented on #130
Fixed in 3.4 release

[2021-12-02 00:35] #130 closed

[2021-12-13 17:12] planetf1 opened #142 "Fix issues reported by Sonatype Lift"
The most recent lift scanning produced some findings on the connector code:

See https://lift.sonatype.com/results/github.com/odpi/egeria-database-connectors
[code]

[2021-12-14 19:46] mandy-chessell commented on #106
Many links to the main Egeria documentation and diagrams are no longer working since the docs were migrated

[2021-12-26 00:42] #5 closed

[2022-01-22 00:37] #79 closed

[2022-01-24 00:38] #128 closed

[2022-02-07 18:26] planetf1 opened #148 "Migrate connector docs to egeria-docs repo"
Documentation of the connector in terms of usage should be migrated to the egeria-docs repository
(See #147 where I've fixed the links here, following the doc repo move)

[2022-03-04 17:07] davidradl opened #153 "Update column type does not get reflected into Egeria"
Update column type does not get reflected into Egeria. The type was change from string length 20 to string length 25 but the change to not go through to Egeria.

It looks like code in PostgresDatabaseConnector around line 883 should be uncommented then any follow-on issue debugged
`                        if (egeriaColumn.getDatabaseColumnProperties().getQualifiedName().equals(postgresColumn.getQu

[2022-03-07 19:46] planetf1 opened #154 "Exceptions when refresh() running"
* Egeria 3.6
* Postgres connector 3.6
* Latest version postgres, loaded with 'employee' sample database
* Coco pharma environment configured/started
* Postgres notebook (under development: creates additional metadata server & integration server)

The following exception is seen 30 times, it appears as if each is the same.

This may be an Asset Consumer OMAS issue

[code]

[2022-03-08 09:18] mandy-chessell commented on #154
I'll have a look

[2022-03-08 09:22] mandy-chessell commented on #154
Yes - it is a bug in Asset Consumer OMAS.  It is retrieving the entity when an entity proxy is passed with a classification and has the requested entity type set to Asset rather than OpenMetadataRoot

[2022-03-08 15:37] planetf1 commented on #154
Thanks for confirming. Suspected so but lots of parallel things to chase up… will transfer to base

[2022-03-09 11:04] planetf1 commented on #106
@wbittles I can take a look at this, as I'm using the connector currently. Let me know if you'd prefer to make the changes.

[2022-03-09 11:25] wbittles commented on #153
That doesn't look like the latest release of code @davidradl or it doesn't match my version.

[2022-03-09 11:26] wbittles commented on #106
@planetf1
Sorting out the docs would be quite welcome if your happy to keep going with that.
I'll have a look at the scan results, and see if I can figure out what's up with David's use case.

[2022-03-09 11:39] davidradl commented on #153
See [https://github.com/odpi/egeria-database-connectors/blob/main/egeria-connector-postgres/src/main/java/org/odpi/openmetadata/adapters/connectors/integration/postgres/PostgresDatabaseConnector.java](https://github.com/odpi/egeria-database-connectors/blob/main/egeria-connector-postgres/src/main/java/org/odpi/openmetadata/adapters/connectors/integration/postgres/PostgresDatabaseConnector.java) . T

[2022-03-09 11:52] wbittles commented on #153
That piece of code looks like it's from when I was unit testing the "addDatabase" branch which makes it at least two major release behind what I have.
I unit tested the update and delete branches after this .
I've just downloaded the latest version from git hub and it's not what your looking at ?

`                  for (DatabaseElement egeriaDatabase : egeriaDatabases)
                    {

[2022-03-09 15:50] planetf1 commented on #153
@wbittles I see that code fragment you mentioned in 'UpdateViewColumns' method
The fragment @davidradl mentioned is in 'UpdateTableColumns' method

Can you clarify how the connector/postgres works with respect to tables/columns? Maybe the code is the same, and it's just our misunderstanding (I've not tested that code path myself)

[2022-03-09 15:52] planetf1 commented on #106
@wbittles Sure, I'll try and clarify. I've been setting up myself, and helping someone else do same, so it's probably a good perspective!

[2022-03-09 16:31] wbittles commented on #106
@planetf1 I usually  follow Mandy's postman tutorials , it  covers all the steps, just need to change the relevant names.

[2022-03-10 16:38] wbittles commented on #153
@planetf1 @davidradl  oops , I was looking at the doc for the database not updating
I have no idea why that code is like that , especially as the other call to that method isn't commented out.

[2022-03-10 21:48] planetf1 commented on #153
I'm using the connector currently, so
Happy to test the change for column update if you plan on updating, or I can try the code change.

[2022-06-14 13:13] #58 closed

[2022-07-07 16:31] lpalashevski opened #243 "[Enhancement] Generic JDBC connector and usage scenarios"

[2022-07-13 18:06] dwolfson opened #174 "documentation error on ssl?"
On page [https://egeria-project.org/guides/admin/omag-server-platform-transport-level-security/?h=ssl#basic-metadata-model](url) it says in a couple places:

strict.ssl true / false : If set to true skips checks on certificate

Isn't this the other way around - you set it to be false to skip check on the certificate?

[2022-07-18 16:54] Kelukin commented on #174
I agreed with @dwolfson .

[2022-07-18 17:11] Kelukin opened #177 "Questions around qualified name and the implementation of MySQL database connector"
# Question One

Does the community recommend the user name the assets' qualified name by the pattern provided in the PostgreSQL connector? For example, the table's qualified name follows the pattern of `{{database_name}}::{{schema_name}}::(BASE|VIEW)::{{table_name}}`. In other words, will the community develop a overall standard for the assets' qualified name?

# Question Two

Unlike PostgreSQL, M

[2022-07-22 12:00] planetf1 commented on #177
Comments in the concept of the new generic connector @lpalashevski @lcpopa  ?

[2022-07-22 12:01] planetf1 opened #180 "Build refactoring for generic connector"
- [ ] Import base egeria pom for dependency constraints
- [ ] Ensure new connector is build, packaged into a maven artefact, and released

[2022-07-25 17:19] Kelukin opened #183 "PostgreSQL cannot cannot create ForeignKey Links normally."
The PostgreSQL connector cannot create ForeignKey Links:

By diving into the code, I found these:
+ The RelationalColumn assets take `:: ` as a separator in the qualified name. But the previous implementation takes `.` as the separator to find column assets in creating foreign keys.
+ The connector cannot scan the schema 'public' normally because the logic in `isSchemaInUse` is a little bit wrong.

[2022-07-26 09:28] wbittles commented on #177
There are issues with the above naming scheme when the RDBMS provides a default database structure.
If you import two instances of the RDBMS then the default database name will causing conflicts in Egeria.
Adding a hostname/IP address should resolve that issue.

 @lpalashevski @lcpopa I'd be really interested in how the new connector is going to handle the different database structures, which is s

[2022-08-10 11:14] planetf1 commented on #174
Good spot!

[2022-08-26 08:52] planetf1 commented on #180
At some point we need to update the gradle build files/cicd to publish a maven artefact - update here if/when you need help with that/are ready to do it.

The hardest part is probably deciding the name(s) of the artifacts(assuming we keep them all distinct)

This will mean the connector gets published -- even as a snapshot -- so it will be downloadable. Later we can consider released versions.

At

[2022-08-30 09:37] planetf1 commented on #180
Agreed in team meeting 30 Aug that I will make the change to get the new connectors published as maven artifacts

[2022-09-02 12:54] mandy-chessell opened #198 "Feedback on generic resource JDBC connector"
Here are some comments on the generic jdbc connector ...

## Configuration

The connector seems to be pulling the endpoint URL from a configuration property 'url' in the connection properties.  This information should come from the network address property in the connected endpoint.  Following this patten is important to keep connector implementations consistent, and to easy the effort to update t

[2022-09-27 09:50] planetf1 commented on #183
@dwolfson you may have thoughts on this as you've been using the connector recently? Were the keys all working ok after the fix was merged?

[2022-09-28 09:19] planetf1 opened #206 "Top level readme needs to cater for multiple connectors"
This repo now contains both the postgres connector and the jdbc connector

As such the readme needs refactoring to either:
a) Move postgres content to a sub-section (lower level header) & add in a section for the database connector
b) Move all connector specifics out and push into a lower level readme,for postgres and jdbc

Since developers are typically working at the repository level, I'm more i

[2022-09-29 02:09] dwolfson commented on #206
I think a hybrid approach makes sense - further, I suspect that the structure of the connector may split between one a database server connector that catalogs the server characteristics and schemas down to the database names/owners and database connectors that delve into a particular database (or a subset thereof) and catalog the databases characteristics. This would address a current issue with t

[2022-09-29 02:10] dwolfson commented on #183
@planetf1 - I did a couple quick tests and validated that the foreign key relationships are now being picked up.

[2022-09-29 02:15] dwolfson commented on #177
@planetf1 As mentioned in another response, it is worth discussing if we should have separate connectors for database servers and databases. A database server (or server cluster) may contain many nodes and itself be distributed. There may be value in cataloging the server cluster characteristics including what schemas (if the database uses sql schemas) and databases hosted in the server cluster. A

[2022-10-10 08:56] planetf1 opened #213 "Test JDBC connectors with DB2"
I plan to test the new JDBC connectors (resource, integration) with IBM DB2 products & will update the documentation with results.

[2022-10-10 14:43] planetf1 commented on #183
Thanks @dwolfson - I think we can close this now

[2022-10-10 14:43] #183 closed

[2022-10-10 14:47] planetf1 commented on #177
Question One
---
There was a discussion on fully qualified names at the recent Egeria maintainer face2face meeting. We will be having a broader community discussion on naming strategies.

I suggest we keep this open until we've agreed a common strategy. We'll probably first concentrate on the generic jdbc connector, and then we can come back and update the postgres connector if it makes sense.

Qu

[2022-10-19 14:51] davidradl opened #217 "Add an abstract polling event mapper for use with Databases"
Add an abstract polling event mapper for use with Databases

[2022-10-25 14:52] dwolfson opened #223 "Test JDBC Connector with Maria DB"
@lcpopa - Perhaps I misconfigured the connector? - I loaded the latest mariadb jdbc driver into server/lib and  tried to connect to my mariadb instance with the following configuration (password removed):

`{
    "class": "IntegrationServiceRequestBody",
    "omagserverPlatformRootURL": "{{baseURL}}",
    "omagserverName" : "mds1",
    "integrationConnectorConfigs" : [
         {
             "cla

[2022-10-25 14:54] dwolfson opened #224 "Test JDBC Connector with Postgres"
@lcpopa - Success!  I have been able to successfully test connectivity to my Postgres server using a configuration like:

`{
    "class": "IntegrationServiceRequestBody",
    "omagserverPlatformRootURL": "{{baseURL}}",
    "omagserverName": "mds1",
    "integrationConnectorConfigs": [
        {
            "class": "IntegrationConnectorConfig",
            "connectorName": "dbIntegrator-SUS",

[2022-10-25 14:55] dwolfson commented on #224
I have a bit more testing to perform...looking at some of the Postgres nuances..

[2022-10-25 15:00] dwolfson opened #225 "Test JDBC Connector with Trino"
Test to see if JDBC connector works with Trino

[2022-11-03 10:36] planetf1 commented on #180
After the recent changes, we generate an action attachment containing the three connectors:

<img width="1240" alt="Screenshot 2022-11-03 at 10 21 36" src="https://user-images.githubusercontent.com/7292002/199699578-112a3e71-7cf3-4b4b-a6b1-7bd6973a22f9.png">
<img width="696" alt="Screenshot 2022-11-03 at 10 21 30" src="https://user-images.githubusercontent.com/7292002/199699604-fc287f57-b169-46d0-

[2022-11-03 14:35] planetf1 commented on #180
These are all being published - but with names based on the directory name. Either we need to move the directory to use as the default component name (our usual pattern in egeria) or explicitly specify the project name (probably the simplest for now)

<img width="519" alt="Screenshot 2022-11-03 at 14 33 10" src="https://user-images.githubusercontent.com/7292002/199749875-60aeacd5-56cb-4f1c-a5d6-ce

[2022-11-03 14:36] planetf1 commented on #180
^^ @dwolfson @lpalashevski @mandy-chessell

[2022-11-04 12:16] dwolfson commented on #180
@planetf1 Thanks - I looked in both Maven Central and Sonatype for a jdbc.snapshot.jar but didn't see one? Am I looking for the wrong thing or looking in the wrong place?

[2022-11-04 13:11] planetf1 commented on #180
The artifacts are only available on the SNAPSHOT repository, since we have not yet done a release for the database connectors (at least not the new ones). I did ask at the f2f but the consensus was not yet.

In the snapshot URL, as an example, the resource connector can currently be found under:

https://oss.sonatype.org/service/local/repositories/snapshots/content/org/odpi/egeria/jdbc-resource-co

[2022-11-04 13:52] planetf1 commented on #180
Connectors now being published with new names:

* egeria-connector-resource-jdbc
* egeria-connector-integration-jdbc
* egeria-connector-event-mapper-polling-database

And...
* egeria-database-connectors  is no longer published (as it is just the build parent)
* egeria-connector-postgres has been left with the existing name

As an example we can see this also now includes the jar correctly:

<img w

[2022-11-04 13:59] planetf1 commented on #180
The http query will work -- for the jar, do not specify a classifier ie:

* http://oss.sonatype.org/service/local/artifact/maven/redirect\?r\=snapshots\&g\=org.odpi.egeria\&a\=egeria-connector-integration-jdbc\&v\=3.13-SNAPSHOT
* http://oss.sonatype.org/service/local/artifact/maven/redirect\?r\=snapshots\&g\=org.odpi.egeria\&a\=egeria-connector-resource-jdbc\&v\=3.13-SNAPSHOT

Note that both jars

[2022-11-04 13:59] planetf1 commented on #180
(extra points if anyone spots my error in the current code. cosmetic only!)

[2022-11-07 13:41] planetf1 commented on #180
Inspecting .module file -- this is a gradle addition that provides additional metadata for gradle consumers

The top level metadata looks good:
[code]

The java jar is properly represented with:
* A configuration confirming we have a library, using java 11, of type jar / java-api
* Also sources & javadoc listed, with appropriate metadata
* Files of all 3 are correct
* correct dependencies for runt

[2022-11-07 14:21] planetf1 commented on #180
Checking retrieving the jar via curl:
[code]

This looks ok (repeat for any other connectors)

Next we check with the proper maven tools - and can see that again, the maven artifact is correctly downloaded:

[code]

[2022-11-07 14:30] planetf1 commented on #180
In summary - for this repo's publish flow:
 - The maven repo looks valid for both jars, and artifacts with optional classifiers (javadoc, sources, jar-with-dependencies)
 - modules files add additional metadata for gradle clients, without impacting maven clients
 - The browser on oss.sonatype.org is not working with module files (despite above!)
 - our other gradle repos are the same
 - the correc

[2022-11-07 15:21] planetf1 commented on #180
Tested with postgres connectors:

Using a file ~/etc/jdbc.yaml:

[code]

We can install an instance of the helm chart ie:
[code]
This
 * uses a helm instance name of 'lab'
 * Uses the odpi-egeria-lab on the (configured) egeria repository
 * specifies a hardcoded password for jupyter
 * does not deploy the strimzi operator (as I am using multiple egeria charts, and have deployed manually)
 * Uses t

[2022-11-07 15:34] planetf1 commented on #180
Update on above - the connectors are the wrong content .The reason is that the specific URL specified utilizes a query which results in a http redirect as a response. In the charts we do not follow redirects, so the http redirect is downloaded, not the target of the redirect..

See https://github.com/odpi/egeria-charts/issues/207

[2022-11-07 15:47] planetf1 commented on #180
This error was a user problem - missing quotes in the URL which then failed on the curl request
Will look at whether any additional error checking can be done in the helm charts

The correct jdbc.yaml is:

extralibs:
  - url: "http://oss.sonatype.org/service/local/artifact/maven/redirect?r=snapshots&g=org.odpi.egeria&a=egeria-connector-resource-jdbc&v=3.13-SNAPSHOT"
    filename: egeria-connector-

[2022-11-09 01:55] dwolfson commented on #224
Ok - did some more testing. It appears that comments (sometimes called remarks) are not being pulled in for tables and columns?

The coco_sus database has a number of interesting features that I was testing - some add-in types such as "unit" and I also create some new tables (test_type and test_type2) with a variety of kinds of @lcpopa Postgres datatypes. The JDBC connector does pick up the array

[2022-11-25 14:49] planetf1 opened #246 "Qualified name is set from resolved IP address"
Egeria: 3.14 (main, 992952d015f09624c00bf3d1e0f8ba79f28d15b2)
IBM DB2 (IBM Cloud)
Coco pharma lab deployment
test notebook

Problem
 - Connecting is resolving IP address (from DNS name)
 - host may have multiple IP addresses/endpoint (which may change)

I specified my jdbc connection as 'jdbc:db2://blahblahblah.databases.appdomain.cloud:31929/bludb:sslConnection=true;'
(where blahblahblah is a uni

[2022-11-25 14:52] planetf1 commented on #246
<img width="450" alt="Screenshot 2022-11-25 at 14 50 35" src="https://user-images.githubusercontent.com/7292002/204009980-7f3e0229-5096-4451-9e4f-8db6e6e61161.png">
<img width="1099" alt="Screenshot 2022-11-25 at 14 51 37" src="https://user-images.githubusercontent.com/7292002/204009987-15d35789-4011-4b1e-b2ef-70a3909024f5.png">
<img width="1089" alt="Screenshot 2022-11-25 at 14 51 52" src="https:

[2022-11-25 14:57] planetf1 commented on #246
This use of IP then extends to properties - ie the schema contains this as part of it's qualified name
<img width="509" alt="Screenshot 2022-11-25 at 14 56 44" src="https://user-images.githubusercontent.com/7292002/204010878-f00c4586-0a4a-4db2-b321-05e5363f68a1.png">

[2022-11-25 14:58] planetf1 commented on #246
similarly with the Endpoint

[2022-11-25 15:33] planetf1 opened #247 "database connection & endpoint isn't related to database"
Having attempted to import metadata from db2 11.5 using the jdbc connector, I ended up with the following entities

<img width="613" alt="Screenshot 2022-11-25 at 15 27 52" src="https://user-images.githubusercontent.com/7292002/204016255-34b550b3-5a26-46ca-851d-69a02fd9d9c0.png">

jdbctest - Database Manager
bludb - database
..../bludb RelationalDBSchemaType

Looks ok for a start.

however the con

[2022-11-25 15:33] planetf1 commented on #247
The graph was generated using REX - and all related objects were added to the canvas for each entity found

[2022-11-25 15:34] planetf1 commented on #247
<img width="472" alt="Screenshot 2022-11-25 at 15 34 35" src="https://user-images.githubusercontent.com/7292002/204017186-89e34f64-7b95-4905-9ab5-be6c2e19a15f.png">
<img width="448" alt="Screenshot 2022-11-25 at 15 34 42" src="https://user-images.githubusercontent.com/7292002/204017191-a559e936-3ef7-433e-8caa-81680ec2c8b4.png">

[2022-11-25 15:44] planetf1 opened #248 "Troubleshooting jdbc connector - tracking progress"
* Egeria 3.13 (main / 25 Nov 22)
* DB2 11.5
* JDBC integration connector
* coco pharma lab chart deployed
* Integration connector & metadata repository configured & connector activated

After setting up the above, I found no useful JDBC metadata had been loaded.

In the metadata server I can see I have
 - database manager
 - database
 - schema (top level entity only)
 - connection
 - connection en

[2022-11-25 15:45] planetf1 commented on #248
In this case the database contains multiple tables in the default schema

[2022-11-25 16:20] planetf1 commented on #248
Using some test code to retrieve the jdbc metadata, I can clearly get the list of tables, columns, datatypes using the same connection string

See https://gist.github.com/7c920ce976006f96dd85473428446bba

[2022-11-25 16:24] planetf1 commented on #213
I am currently working on this, and raising issues on specific problems found.

The initial sample configuration is using
 - coco pharma labs
 - running in k8s
 - IBM db2 as a service in IBMcloud
 - db2 11.5
 - db2 driver 4.32.28
 - simple employee database

[2022-11-25 17:04] planetf1 commented on #248
I'll investigate further with connectpr debug.

[2022-11-29 16:09] planetf1 commented on #248
Will leave this open to improve the docs & general tracing/debug omission

[2022-11-29 16:22] planetf1 opened #249 "jdbc connector - connection failed, connector reports running"
Opening up for discussion - we need to consider how to help users understand the state of their environment, as well as to aid github search for anyone else getting a similar issue

In this issue I document a situation where
 - an invalid URL was used (why is the subject of another track!)
 - connector status reports as running

 Whilst there is an audit log entry, it's not clear how to check the

[2022-11-29 18:21] planetf1 commented on #249
The scenario here is
* connect attempt to database is blocking for 10 minutes
* this is repeated correctly at the refresh interval
* All the time the status continues to show as 'RUNNING'

[2022-11-29 19:01] planetf1 opened #250 "Badly formed audit log message in JDBC connector"
Seen when using the db2 integration connector (current/main) and getting a connection exception:

[code]

[2022-11-30 09:18] mandy-chessell commented on #249
`RUNNING` means is that the connector is running and has not reported an error (by throwing an exception) to the integration daemon.  If it throws an exception it moves to `FAILED` state.  Once in `FAILED` state the connector needs to be restarted (REST call available to do that).  It is used for permanent errors that need operator intervention - ie bad config.

It is OK for a connector to stay in

[2022-11-30 09:21] mandy-chessell commented on #249
Integration daemon diagnostic guide includes an explanation.  Are there aspects that could be improved?

https://egeria-project.org/guides/diagnostic/integration-daemon-diagnostic-guide/#retrieving-status-of-the-connectors

[2022-11-30 13:19] planetf1 commented on #248
As an example, once connected & working, the audit log entries look like:
[code]

What would help:
* Show the initial attempt to connect - before connecting, and once connected (helps to debug hung connections)
* Show clearly when the refresh cycle starts
* display numbers, possibly names of schemas & other elements found

[2022-11-30 13:27] planetf1 opened #251 "JDBC connector connects to database on each refresh()"
The JDBC resource connector appears to connect to the database on each refresh()

If JdbcIntegrationConnector.java we have this in refresh() :
[code]

and connect is implemented as
[code]

No state is kept between calls to refresh() - so we will constantly reconnect.

[2022-11-30 13:39] planetf1 commented on #251
Reconsidering, the current design is probably appropriate - the connection is closed, so we idle until the next refresh interval.
For testing I had this interval set short - hence the concern - but in practice refresh will be perhaps 10s of minutes, or an hour, and it's better to close after each cycle.

Therefore closing.

[2022-11-30 13:39] #251 closed

[2022-11-30 14:01] planetf1 opened #252 "No Tables found by JDBC Connector - empty list of schemas (db2)"
* latest main code of database connector & egeria (as of 20221130)
* coco pharma environment setup locally
* DB2 11.5 on IBMCloud (free)
* JDBC driver (v4) 4.32.28
* Default database (BLUDB)
* User tables under a schema 'XXXX' where XXXX=my user name

Egeria does not locate any useful database metadata

* connection to database is ok
* top level database metadata is retrieved (into 'databaseMetaDa

[2022-11-30 17:16] planetf1 commented on #252
(Still debugging)